/* CSS Added By Christopher */

.twitter-timeline {
  float: left;
}

/* Removes border around button that appears when clicked */
.login-page button:focus {
    outline: none !important;
}

/* Removes border around button that appears when clicked */
.login-page input:focus {
  outline: none !important;
}

/* The following two CSS entries ensure a scrollbar does not appear
and no shifting happens when a modal is opened. */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

.modal-title {
  text-align: center;
}

.login-page h1 {
  font-family: 'Lobster', 'Roboto', sans-serif !important;
}

.login-page h4 {
  font-family: 'Roboto', sans-serif !important;
  font-style: italic !important;
}

.login-page a:link, a:visited, a:hover, a:active {
  color: white;
}

#user-text-input {
  color: white;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(media/preview.png) no-repeat;
    background-size: cover;
}

/* CSS Added By Andrew / Bootstrap */

body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.login-page{
  position: fixed;
  top: 50%;
  left: 50%;
  /* Centers class on the page, no matter the size of the class */
  transform: translate(-50%, -50%);
  background-color: rgba(128,128,128,0.4);
  text-align: center;
  color: #fff;
  padding: 3em;
  border-radius: 5px;
  border: 2px solid black;
}

.user-avatar{
  width: 125px;
  height: 125px;
}

.login-page h1{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.form-content{
  padding: 40px 0;
}

.login-page .form-content .input-underline{
  background: 0 0;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid rgba(255, 255,255,0.4);
  border-radius: 0;
}

.login-page .form-content .input-underline{
  border-bottom: 2px solid #fff;
}

.input-lg{
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  color: white;
  line-height: 1.33333;
  border-radius: 0;
}

.btn-info{
  margin-bottom: 10px;
  border-radius: 50px;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.8)inset;
  /* Button Background Color */
  background: #717b7c;
  border: 2px solid black;
  font-weight: 400;
}

input[type=text]:-moz-placeholer,
input[type=password]:-moz-placeholer{
  color: white;
}

input:-webkit-input-placeholder{
  color: white !important;
}

input:-moz-placeholder{
  color: white !important;
}

input::-moz-placeholder{
  color: white !important;
}

input:-ms-input-placeholder{
  color: white !important;
}
